flow1
[
    {
        "id": "c59e3743.caa5f8",
        "type": "tab",
        "label": "check point 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b69edfcc.bd6",
        "type": "rpi-gpio in",
        "z": "c59e3743.caa5f8",
        "name": "button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "243cd3cc.cd6eec",
                "857f95a1.1a5618"
            ]
        ]
    },
    {
        "id": "857f95a1.1a5618",
        "type": "switch",
        "z": "c59e3743.caa5f8",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "3a5b6251.980c3e"
            ],
            [
                "9d8c15cb.fdfbc8"
            ]
        ]
    },
    {
        "id": "3a5b6251.980c3e",
        "type": "change",
        "z": "c59e3743.caa5f8",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "9f89c7b7.d60af8"
            ]
        ]
    },
    {
        "id": "9d8c15cb.fdfbc8",
        "type": "change",
        "z": "c59e3743.caa5f8",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "9f89c7b7.d60af8"
            ]
        ]
    },
    {
        "id": "243cd3cc.cd6eec",
        "type": "debug",
        "z": "c59e3743.caa5f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "9f89c7b7.d60af8",
        "type": "rpi-gpio out",
        "z": "c59e3743.caa5f8",
        "name": "LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 820,
        "y": 240,
        "wires": []
    }
]
